<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../setups/head") %>
  </head>

  <body>
    <%- include("../../components/navbar") %>

    <section id="home-content" class="container">
      <div class="align-items-center d-flex justify-content-between mt-5 mb-4">
        <h3>Book List</h3>
        <a href="/book/create" class="btn btn-outline-primary"> Add </a>
      </div>

      <% if (books.length < 1) { %>
      <p class="h3 text-center">No Data</p>
      <% } else { %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% books.map((book) => { %>
          <tr>
            <th scope="row"><%= book.id %></th>
            <td><%= book.name %></td>
            <td><%= book.qty %></td>
            <td><%= book.category.name %></td>
            <td><%= book.available ? "In-Stock" : "Out-Stock" %></td>
            <td class="d-flex gap-2">
              <a href="/book/<%= book.id %>" class="btn btn-sm btn-light">
                <i class="bi bi-eye"></i>
              </a>
              <a href="/book/<%= book.id %>/edit" class="btn btn-sm btn-light">
                <i class="bi bi-pencil-square"></i>
              </a>
              <form method="post" action="/book/<%= book.id %>/delete">
                <button type="submit" class="btn btn-sm btn-light">
                  <i class="bi bi-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </section>

    <%- include("../../setups/script") %>
  </body>
</html>
